<h2>Movies</h2>
<table>
  <thead>
    <tr>
      <td>ID</td>
      <td>映画タイトル</td>
      <td>公開年</td>
      <td>上映中か</td>
      <td>概要</td>
      <td>画像URL</td>
      <td>作成日時</td>
      <td>更新日時</td>
    </tr>
  </thead>
  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <td><%= movie.id %></td>
        <td><%= link_to movie.name, admin_movie_path(movie) %></td>
        <td><%= movie.year %></td>
        <td><%= "上映中" if movie.is_showing == 1 %><%= "上映予定" if movie.is_showing == 0 %></td>
        <td><%= simple_format(movie.description) %></td>
        <td><%= image_tag movie.image_url %></td>
        <td><%= movie.created_at %></td>
        <td><%= movie.updated_at %></td>       
      </tr>
      
    <% end %>
  </tbody>

</table>


  